.center{
    text-align: center;
    background-color: grey;
}
.inp{
    margin-left: 42%;
    text-align: center;
    width: 250px;
    margin-top: 5%;
}
.inp>input{
    border: white;
    width: 90%;
    background-color: white;
    margin-top: -14%;
    padding: 5%;
    border-radius: 12px;
    font-size: 24px;
}
.flex{
    display: flex;
}
.butt{
    width: 50px;
    border-radius: 11px;
    border: white;
    height: 36%;
    margin-top: 55px;
    background-color: white;
    margin-left: 10px ;
}
.butt>h1{
    margin-top: 10px;
}
body{
    background-color: grey;
}
.flextwo{
    display: flex;
    gap: 155%;  
}
.item{
    display: flex;
    margin-left: 42%;
   background-color: white;
   width: 312px;
}
.hfour{
    color: white;
}